*{
    margin: 0;
    padding: 0;
}
/* Shared style */
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
 .btn{
    font-size: 20px;
    font-weight: bold;
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    
 }
/* manin style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}

nav{
    width: 71%;
    max-width: 1140px;
    display: flex;
    justify-content:space-between;
    margin: 0px auto;
}

.logo{
    font-size: 45px;
    font-weight: 900;
}
.orange-color{
    color: #FD6E0A;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    gap: 51px;
    font-size: 20px;
    color: #474747;
}



