*{margin: 0;
padding: 0;
}
/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    cursor: pointer;
 }

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
    
 }

.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
  }

.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}


/* Main style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    
}

nav{
    width: 71%;
    max-width: 1140px;
    /* border: 2px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2{
    font-size: 45px;
    font-weight: 800px;
}
.orange-color{
    color: #FD6E0A;
}

nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}

#banner{
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content{
    max-width: 585px;
    max-height: 358px;
}

#banner .banner-content h2{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
    
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p{
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-image img{
    max-width: 584px;
    vertical-align: middle;
}
 #about, #skills, #resume {
    padding-top: 130px;
 }

 #about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
 }

 #about .about-container .about-info{
    display: flex;
    justify-content: space-around;
    max-width: 782px;
    margin: 0 auto;
 }

.about-info .about-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.about-info .about-card h4{
font-size: 20px;
}

#skills .skills-container{
    margin: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

#skills .skills-container .skills-box{
    display: flex;
    gap: 24px;
}

.skills-box .skill-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000029;
}

.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;

}
.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
    
}
.skill-card p{
    font-size: 16px;
    line-height: 28px;
    color: 757575;
}

#resume .resume-container{
width: 71%;
max-width: 1140px;
margin: 113px auto 0;
}

#resume .resume-container{
    display: flex;
    gap: 24px;
}

.resume-container .section-title{
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}

.resume-card{
    max-width: 511px;
    margin-right: 47px;
}

.resume-card .card-title{
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.resume-card .card-info{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}

.resume-card .card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    margin-bottom: 30px;
}

.resume-container hr{
    margin: 30px auto;
}





